<div class="well header no-padding-margin">
    <h1 class="text-center no-padding-margin" style="font-family: 'Courgette', cursive;">Litmus Test</h1>
</div>
<p><%= @userName %></p>
<div class="container">
	<% @title.each do |t| %>
		<p class="well posit title" data-remote="true"><%= t.title %></p>
		<div class="question" style="display:none;" id="<%= t.title %>"></div>
	<%end%>
</div>