// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centre-element{
	margin:20% 30% 30% 30%;
	background: linear-gradient(15deg, #ff471a, #ffff00);
	border-radius:10px;display:flex;
}